// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray:      #969896;
@gray:            #373b41;
@dark-gray:       #282a2e;
@very-dark-gray:  #1d1f21;

@cyan:            #8abeb7;
@purple:          #b294bb;
@light-orange:    #f0c674;

@blue:            #81a2be;
@green:           #b5bd68;
@orange:          #de935f;
@red:             #cc6666;
