// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray:      #708090;
@gray:            #373b41;
@dark-gray:       #282a2e;
@very-dark-gray:  #1d1f21;

@cyan:            #8abeb7;
@purple:          #A6E22E;
@light-orange:    #f0c674;

@blue:            #81a2be;
@green:           #b5bd68;




/* READY */

@red:             #cc3030; // clearer red
@clear-blue:      #438FDC; // main color
@white:           white; // whole text

@yellow: #CDBF38; // strings...
